<div class="form-inline-content">
    <form class="form">
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <default-input type="text" id="inputName" placeholder="Your name"></default-input>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <default-input type="email" id="inputEmail" placeholder="Email"></default-input>
                </div>
            </div>
            <div class="col-sm-2">
                <submit-button type="submit" text="subscribe"></submit-button>
            </div>
        </div>

    </form>
</div>