<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="info">
                    <h5 class="footer-title-brand">Elegancy.</h5>
                    <nav>
                        <ul class="list-group footer-list-group connect-group">
                            <li class="list-group-item">
                                <a class="footer-spacing" href="#">
                                    © 2015 - All Rights Reserved to Pixelhint.com
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3  col-sm-3">
                <div class="info">
                    <h5 class="footer-title">What is pristine.</h5>
                    <nav>
                        <p class="footer-spacing">Elegancy is a unique HTML5, & CSS website template, it’s fully responsive, SEO and fast speed
                            optimzed and beautiful.</p>

                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="info">
                    <h5 class="footer-title">know more.</h5>
                    <nav>
                        <ul class="list-group footer-list-group">
                            <li class="list-group-item">
                                <a href="#">Terms &amp; Conditions</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">FAQ</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">Pricing</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">Services</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="footer-info">
                    <h5 class="footer-title">connect.</h5>
                    <nav>
                        <ul class="list-group footer-list-group connect-group">
                            <li class="list-group-item">
                                <external-link link-name="facebook" link-text="Facebook"></external-link>
                            </li>
                            <li class="list-group-item">
                                <external-link link-name="twitter" link-text="Twitter"></external-link>
                            </li>
                            <li class="list-group-item">
                                <external-link link-name="rss" link-text="RSS"></external-link>
                            </li>
                            <li class="list-group-item">
                                <external-link link-name="google-plus" link-text="Google Plus"></external-link>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="back-to-top-section">
            <back-to-top></back-to-top>
        </div>
    </div>
</footer>