.navbar {
  border: 0;
  font-size: 16px;

  .navbar-brand {
    margin: 10px 0;
    padding: 15px 15px;
    font-size: 1.4em;
    line-height: 22px;
    font-family: @font-Raleway-Light;
  }
}

.navbar-default {
  background-color: @color-nav-bg;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .navbar-nav > li {
    font-size: .875em;

    .nav-tab-legacy {
      color: #fff;
      margin: 10px 5px;
      line-height: 1.49;

      &:hover {
        color: #fff;
      }
    }

    .external-link-icon {
      margin: 5px 0;
    }
  }

  .navbar-toggle {
    &:focus, &:hover {
      background-color: transparent;
    }
  }

  .navbar-brand {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

.navbar-transparent {
  padding-top: 35px;
  background-color: transparent;
  border-bottom: 1px solid transparent;

  .navbar-toggle {
    .icon-bar {
      background-color: #fff;
    }
  }

  .navbar-nav > li > .nav-tab-legacy, .navbar-brand {
    color: @color-nav-font;
  }

  .nav-separator-bar {
    border-right: 1px solid rgba(0, 0, 0, .3) !important;
  }
}

.navbar.navbar-fixed-top {
  .TransitionForAllBrowser(all .5s .1s);
}

.nav-separator {
  height: @navbar-height;
  padding-right: 70px;
  padding-left: 25px;
}

.nav-separator-bar {
  border-right: 1px solid rgba(255, 255, 255, .5) !important;
  height: 24px;
  display: inline-block;
  position: relative;
  .VerticalAlign;
}

.navbar-toggle {
  margin-top: 19px;
  margin-bottom: 19px;
  border: 0;
}

@media (max-width: 767px) {
  .navbar-transparent {
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.45);
  }
}

@media (max-width: 768px) {
  .navbar-transparent .navbar-brand {
    color: #fff;
  }
}