* {
  outline: none !important;
}

html {
  color: @color-html-text;
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-family: @font-MyriadPro;
  color: @color-html-text;
  font-size: 16px;
}

::-moz-selection {
  background: @color-background-selection;
  text-shadow: none;
}

::selection {
  background: @color-background-selection;
  text-shadow: none;
}

.form-control::-webkit-input-placeholder { color: @color-placeholder; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: @color-placeholder; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: @color-placeholder; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: @color-placeholder; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: @color-placeholder; }  /* Microsoft Edge */

textarea {
  resize: vertical;
}

.section {
  padding: 50px 0;
  position: relative;
  background-color: #fff;
  text-align: center;
}


@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}