* {
  outline: none !important;
}

html {
  color: @color-html;
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-family: @font-MyriadPro;
  color: @color-html;
}

::-moz-selection {
  background: @color-background-selection;
  text-shadow: none;
}

::selection {
  background: @color-background-selection;
  text-shadow: none;
}

textarea {
  resize: vertical;
}