//FONTS-----
@font-MyriadPro : 'Myriad Pro', Arial, Helvetica, sans-serif;
//END FONTS-----

//COLORS-----
@color-html: #454546;
@color-main: #fafafa;
@color-footer: #2d4e55;

@color-border: #e2e2e2;
@color-border-hover: #f9e074;

@color-background-selection: #afe0ea;

//BUTTONS-----
@color-button: #395e66;
@color-button-hover: #454546;
//-----

//END COLORS-----