.elegancy-input, .elegancy-textarea{
  color: @color-html-text;
  border-color: @color-gray-soft !important;
  border: solid 2px;
  outline: 0;
  .BorderRadius(2px);
  .BoxShadow(none);

  &:focus{
    border-color: @color-gray-dark !important;;
    .BoxShadow(none);
  }

  &:-moz-placeholder
  ,&:-ms-input-placeholder
  ,&:-webkit-input-placeholder
  {
    color: #b5b3b3;
  }
}

.elegancy-input{
  height: 50px;
  line-height: 4.5;
  .text-collapsed;
}

.elegancy-textarea{
  resize: none;
}