<div class="section section-header">
    <div class="parallax filter filter-color-red">
        <image-parallax style="background-image: url('assets/img/header-bg.jpg')"></image-parallax>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h1 class="title-modern header-title">Join the force</h1>

                    <h4 class="header-subtitle">Join our newletter & receive free updates</h4>
                </div>

                <form-inline></form-inline>
            </div>

        </div>
    </div>
</div>

