.external-link {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 30px;
  background-color: @color-external-link-bg;
  padding: 0 !important;
  .BorderRadius(50%);

  &:hover{
    background-color: @color-external-link-bg !important;
  }

  .fa {
    position: relative;
    .CenterAlign;
  }
}