<div class="pricing-info-wrapper">
    <span class="pricing-star"><i class="md md-star"></i></span>

    <h3 class="pricing-name text-collapsed"><span class="pricing-value">${{price}}</span> / month</h3>

    <div class="separator">
        <i class="vertical-separator"></i>
    </div>

    <h4 class="license-type">{{license}}  license</h4>

    <ul class="list-group pricing-list-group">
        <li class="list-group-item">
            <p class="pricing-feature">Sed suscipit nulla et massa porta,</p>
        </li>
        <li class="list-group-item">
            <p class="pricing-feature">Nulla elementum lacus vehicula.</p>
        </li>
        <li class="list-group-item">
            <p class="pricing-feature no-available">Mauris vitarm mollis facilisis nulla.</p>
        </li>
        <li class="list-group-item">
            <p class="pricing-feature no-available">Donec rutm sodales metus facilis.</p>
        </li>
        <li class="list-group-item">
            <p class="pricing-feature no-available">Nunc rhoncus eleifend aliquam.</p>
        </li>
    </ul>

    <submit-button text="start now"></submit-button>
</div>